.box{
  display: flex;
  flex-direction: column;
}

.news-items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.news-container{
  max-width: 400px;
  min-height: 450px;
  margin: 15px 0px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 5px rgba(225, 225, 225, 1);
}

.card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.source{
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 15px 5px 5px;
  border-radius: 0px 0px 25px 0px;
}

.heading{
  margin-top: 80px;
}